h1,h2,h3{
    font-family: "sofia-pro", sans-serif;
    line-height: 2;
}

p{
    line-height: 1.4;
}

a{
    text-decoration: none;
}

p,a{
    font-family: "sofia-pro", sans-serif;
}

a:hover{
    text-decoration: underline;
}

.plum{
    background-color: #CD9BD7;
}

.orange{
    background-color: #FF5F0A;
}

.purple{
    background-color: #870AA0;
}

.bg-100-purple{
    width: 100%;
    background-color: #870AA0;
    color: white;
}

.bg-100-yellow{
    width: 100%;
    background-color: #FFCD32;
}

.bg-100-paleyellow{
    width: 100%;
    background-color: #FFF0AF;
}

.text-color-purple{
    color: #870AA0;
}

.text-color-orange{
    color: #FF5F0A;
}

.bg-100{
    width: 100%;
}

.bg-90{
    width: 90%;
    margin: auto;
}

.bg-80{
    width: 80%;
    margin: auto;
}

.larger-text{
    font-size: larger;
}

button{
    border: none;
}

.button-style{
    color: white;
    text-align: center
}
.button-style:hover{
    text-decoration: underline;
}

li{
    list-style: none;
    padding-left: 0;
}

.smart-phone-size{
    visibility: visible;
}

.wider-screen{
    visibility: hidden;
}

/* header */
.header-container{
    height: 60px;
}

.header1-dropdown{
    background-color: #870AA0
}

.header1-dropdown li a{
    color: white;
}

/* dropdown menu */
.dropdown-menu.show{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header2-dropdown{
    width: 100%;
    height: 65vh;
    right: 0;
    background-color: #870aa0c4;
}

ul.dropdown-menu.header2-dropdown.show{
    position: absolute;
    inset: 0px auto auto auto;
    margin: 0px;
    transform: translate3d(0px, 28px, 0px);
}

ul.dropdown-menu{
    border-radius: 0;
    padding-left: 5%;
    padding-right: 5%;
    border: none;
}

.header2-dropdown li a{
    color: white;
}

/* hero */
.hero-img{
    width: 100%;
}
.hero-bg{
    position: relative;
}

.hero-ge{
    width: 55%;
    position: absolute;
    left: -3%;
    top: 10%;
}

.hero{
    position: relative;
    margin-bottom: 5%;
    margin-top: 120px;
}

.hero-text{
    position: absolute;
    left: 5%;
    top: 10%;
}

/* usp */
.usp{
    flex-direction: column;
}

.usp article{
    margin-top: 2%;
    margin-bottom: 10%;
}

.usp article p{
    margin-top: 5%;
}

/* sidebar */
.side-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 3%;
}

.side-box p{
    color: white;
    margin-bottom: 5%;
}

.side-box p a{
    color: white;
}

.side-box button{
    margin-top: 5%;
    padding: 2% 8% 2% 8%;
}

.sidebar{
    margin-bottom: 10%;
}

/* tjänst */
.products{
    margin-bottom: 10%;
}
.item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item button{
    background-color: #870AA0;
    margin-top: 5%;
    padding: 2% 8% 2% 8%;
    width: 50%;;
}

.item button a{
    color: white;

}

.item{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    width: 260px;
    height: 260px;
    background-color: white;
    border-radius: 50%;
}

.addition{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    
}

.addition button{
    margin-top: 5%;
    padding: 2% 8% 2% 8%;;
}

.products{
    padding-top: 5%;
    padding-bottom: 5%;
}


/* läes mer/info */
.info{
    padding-bottom: 10%;
}

.text-color-orange:hover{
    color: #CD9BD7;
}

/* kontakt */
.contact-container{
    padding-top: 10%;
    background-image: url(/assets/img/Almi-foto1.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 45%;
}

.contact-container p{
    width: 60%;
}

.contact{
    padding-bottom: 10%;
}

.contact button{
    margin-top: 5%;
    padding: 2% 8% 2% 8%;
}

/* loan list*/
.loan-list{
    padding: 8%;
}

.loans li{
    padding: 2% 4% 2% 4%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #870AA0;
}

.loans li a{
    display: flex;
    justify-content: space-between;
    color: white;
}

/* testiomials */
.testimonials{
    background-image: url(/assets/img/money.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 70%;    
}

.testimonials h2{
    line-height: 2;
}

.bg-image{
    padding: 12% 8% 40% 8%;
    background-image: url(/assets/graphic/w-citat-white.svg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 25%;
}

/* apply */
.apply-container{
    padding-top: 10%;
    padding-bottom: 10%;
}

/* SNS */
.sns-icon{
    text-align: center;
    
}

.sns-icon a img{
    width: 37.5px;
    height: 37.5px;
    margin: 2%;
}

/* footer */
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5%;
    line-height: 3.5;
}

.footer-item ul li a{
    color: white;
}


/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .smart-phone-size{
        visibility: hidden;
    }

    .wider-screen{
        visibility: visible;
    }

    .header2-dropdown{
        height: 200px;        
    }

    .usp{
        display: flex;
        flex-direction: row;
    }

    .usp article{
        padding-right  : 15%;
    }

    .item-container{
        flex-direction: row;
        justify-content: space-around;
    }

    .item{    
        margin: auto;    
    }

    .info-container{
        display: flex;
        flex-direction: row;
    }
    .info{
        width: 60%;
        padding-right: 15%;
    }

    /* loan list*/
    .loan-list{
        width: 40%;
        padding: 5%;
    }

    /* kontakter */    
    .contact-container{
        display: flex;
        justify-content: right;
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .contact{
        width: 50%;
    }

    /* testimonials */   
    .testimonials{
        background-position: bottom right;
        background-size: 50%;    
    } 
    .testimonials div h2{
        margin: 0;
        width: 70%;
    }
    .bg-image{
        padding: 12% 8% 20% 8%;
    }
    /* footer */
    .footer-container{
        flex-direction: row;
        justify-content: space-around;
    }
    
}
